#docsTable_wrapper {
    line-height: normal !important;
}

div.table {
    max-height: 80vh !important;
}

#docsTable_length {
    padding-left: 8px !important;
    padding-top: 8px !important;
}

#docsTable_paginate {
    padding-bottom: 8px !important;
    padding-right: 8px !important;
    overflow-x: auto !important;
}

#docsTable_info {
    padding-left: 8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.paginate_button.current {
    background-image: none !important;
    background-color: lightgrey !important;
}

.paginate_button:hover:not(.disabled, .current) {
    background-image: none !important;
    background-color: darkgrey !important;
}

.input-group>.form-control {
    border-top-right-radius: 0.25rem !important;
    border-top-left-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;

.multiselect-container>li>a>label {
    padding-left: 6px !important;
}

a#textButton:hover {
    cursor: pointer !important;
}