#docsTable_length {
    padding-left: 8px !important;
    padding-top: 8px !important;
}

#docsTable_paginate {
    padding-bottom: 8px !important;
    padding-right: 8px !important;
}

#docsTable_info {
    padding-left: 8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.paginate_button.current {
    background-image: none !important;
    background-color: lightgrey !important;
}

.paginate_button:hover:not(.disabled, .current) {
    background-image: none !important;
    background-color: darkgrey !important;
}