{% extends 'base.html' %}
{% set active_page = 'about_project' %}
{% block content %}
    <h2>О проекте</h2>
    <p>Волость в России девятнадцатого века — это иногда десяток, а иногда и три десятка селений. В крестьянской России волостной центр — самый близкий к народу оплот строгой и требовательной государственной власти. Её воплощал не столько выборный волостной старшина, сколько волостной писарь: через него неграмотный старшина получал предписания начальства, он же составлял и рапорты наверх. Волостной писарь — это не только главный секретарь, но и главный бухгалтер волости, и главный юрисконсульт.</p>

    <p><u>«У волостного»</u> — это коллекция материалов обо всём, что проходит через руки волостного писаря: о крестьянской жизни. Первейший из этих материалов — протоколы волостного суда, в котором крестьян судили крестьяне же. Они сохранились в «Книгах на записку решений волостного суда» — прошнурованных, скреплённых сургучной печатью, чтобы ни один лист нельзя было вынуть незаметно. Из огромного числа таких «Книг», составлявшихся ежегодно по всей России, уцелела лишь малая часть. Но и это — десятки  тысяч (а может быть, и сотни тысяч) человеческих судеб, калейдоскоп жизни дореволюционной России. Донести это богатство до людей — главная задача нашего портала.</p>

    <p><u>«У волостного»</u> рассчитан на всех, кому хочется почитать что-нибудь захватывающее. Многие из решений читаются, как будто художественный роман. Но документы имеют важное преимущество перед писательским творчеством. К роману мы имеем возможность отнестись «вполдуши»: всё это выдумки автора. А здесь — всё по-настоящему.</p>

    <p><u>«У волостного»</u> рассчитан на тех, кому интересна российская история. Начинайте с любого места: даже одно отдельно взятое решение, независимо от исследовательских комментариев, позволяет прикоснуться к той старинной эпохе. Удивиться, как далеки от действительности некоторые представления о крестьянах, живущие в учебниках и в подсознании.</p>

    <p><u>«У волостного»</u> рассчитан на узких специалистов. Мы не просто публикуем все подряд записи из каждой «Книги решений», давая возможность составить полное представление об источнике. Мы ещё и приводим сканированные копии документов. Каждый сам может проверить наши расшифровки писарских почерков, прочитать те редкие слова, что остались для нас непонятными, поискать не оговорённые в описании пометы и исправления.</p>

    <p>Всё это было бы невозможно без щедрости архивов, предоставивших качественно отсканированные документы:</p>
    <ul>
        <li>Государственный архив Новосибирской области,</li>
        <li>Государственный архив Томской области,</li>
        <li>Государственный архив Алтайского края (г. Барнаул).</li>
    </ul>

    <p>Толчок изучению этих документов дал Михаил Викторович Шиловский — заведующий сектором Института истории Сибирского отделения Российской академии наук (г. Новосибирск)).</p>

    <p><b>Чтением почерков и превращением рукописей в электронный текст занимались:</b><br>
    Алексей Константинович Кириллов (ИИ СО РАН), Евгений Владимирович Почеревин (Алтайский государственный гуманитарно-педагогический университет, г. Бийск), Наталья Почеревина, Мария Александровна Резникова (ИИ СО РАН).</p>

    <p><b>Создавали Интернет-оболочку и занимались лингвистическим наполнением — математические лингвисты из Новосибирского государственного университета:</b><br>
    Анна Яковлевна Леман и Анастасия Константиновна Ступник.</p>

    <p>Желающие присоединиться к команде энтузиастов — пишите: <a href="mailto: uvolostnogo@gmail.com">uvolostnogo@gmail.com</a></p>

{% endblock %}