<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <style>

        </style>
    </head>
    <body>
        {% set nav_bar = [
            ('index', 'Документы'),
            ('research', 'Исследования'),
            ('about_project', 'О проекте')]
        -%}
        {% set active_page = active_page|default('index') -%}
        <ul class="nav_bar">
            {% for href, caption in nav_bar %}
            <li{% if href == active_page %} class = "active_page"{% endif %}>
                <a href="{{ url_for(href) }}">{{ caption|e }}</a>
            </li>
            {% endfor %}
            <!-- <li><a href="{{ url_for('index') }}">Документы</a></li> (accessible to anyone)
            <li><a href="{{ url_for('research') }}">Исследования</a></li> (login_required: member1/2@example.com / Password1)
            <li><a href="{{ url_for('about_project') }}">О проекте</a></li> (role_required: admin@example.com / Password1')-->
        </ul>
        <ul style="float:right">
            {% if current_user.is_authenticated %}
                <li id="user_name">
                    {% if current_user.is_authenticated %}
                    Вы вошли как <b>{{ current_user.first_name }} {{ current_user.last_name }}</b>
                    {% endif %}
                </li>
                <li id="sign_in_out"><a href="{{ url_for('user.logout') }}">Выйти</a></li>
            {% else %}
                <li id="sign_in_out"><a href="{{ url_for('user.login') }}">Войти</a></li>
            {% endif %}
        </ul>

        {% block content%}

        {% endblock %}
    </body>
    {% block scripts %}
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
</html>