<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <style>
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
            }

            li {
              float: left;
            }

            li a {
              display: block;
              color: black;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            }
        </style>
    </head>
    <body>
        <!--<h2>{{ page_type }}</h2>-->
        <ul>
            <li><a href="{{ url_for('index') }}">Главная</a></li> <!--(accessible to anyone)-->
            <li><a href="{{ url_for('member_page') }}">Для участников</a></li><!--(login_required: member@example.com / Password1)-->
            <li><a href="{{ url_for('admin_page') }}">Для админов</a></li> <!--(role_required: admin@example.com / Password1')-->
            {% if curr_user.is_authenticated %}
                <li style="float:right"><a href="{{ url_for('user.logout') }}">Выйти</a></li>
                {% else %}
                <li style="float:right"><a href="{{ url_for('user.login') }}">Войти</a></li>
            {% endif %}
        </ul>
        {% if current_user.is_authenticated %}
        <p align="right">Вы вошли как <b>{{ current_user.email }}</b></p>
        {% endif %}

        {% block content%}

        {% endblock %}
    </body>
    {% block scripts %}
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
</html>