{% extends "base.html" %}
{% block content %}

    {% if doc_dict %}
        <p><a href="{{ url_for('index') }}">Документы</a> / <a href="#">{{ doc_dict['doc_name'] }}</a></p>
        <h2>{{ doc_dict['doc_name'] }}</h2>
        <p id="back"><a href="{{ url_for('index') }}">Назад</a></p>

        <p><b>Дата подачи заявления</b>:  {% if doc_dict['create_date'] %}
                                        {{ doc_dict['create_date'].strftime('%d.%m.%Y') }}
                                    {% else %}
                                        Не указано
                                    {% endif %}
        </p>
        <p><b>Дата вынесения решения</b>: {% if doc_dict['decision_date'] %}
                                        {{ doc_dict['decision_date'].strftime('%d.%m.%Y') }}
                                    {% else %}
                                        Не указано
                                    {% endif %}
        </p>

        <hr>

        {{ doc_dict['doc_text']|safe }}
    {% elif warning %}
        <p>{{ warning }}</p>
    {% endif %}

{% endblock %}