{% extends "base.html" %}
{% set active_page = 'index' %}
{% block content %}
    {% if doc_dict %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('index') }}">Документы</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/{{doc_dict['id']}}">{{ doc_dict['doc_name'] }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Редактировать метаданные</a>
        </li>
    </ul>

    <h2 class="mb-4" id="doc_name">{{ doc_dict['doc_name'] }}</h2>

    {% if form %}
    <!--<div class="row"></div>-->
        <form action="/{{ doc_dict['id'] }}" method="POST">
            {{ form.csrf_token() }}
            <div class="input-group">
                {{ form.doc_name.label(class="pt-2 pb-2 pr-2") }}
                {{ form.doc_name(class="form-control") }}
            </div>
            {% for field in form if field.name not in diff_fields %}
                {% if field.name in multiselect %}
                    {{ field.label(class="pt-2 pb-2 pr-2") }}
                    {{ field(class="multiple", multiple="multiple") }}
                {% elif field.name in checkboxes %}
                    <div class="input-group">
                        {{ field.label(class="pt-2 pb-2 pr-2") }}
                        <div class="p-2">{{ field(class="align-middle") }}</div>
                    </div>
                {% else  %}
                    <div class="input-group">
                        {{ field.label(class="pt-2 pb-2 pr-2") }}
                        <span>
                                {{ field(class="form-control pl-2") }}
                                </span>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="form-group">
                {{ form.submit(class="btn btn-secondary mt-2") }}
            </div>

            <!--{% for error in form.doc_name.errors %}
            <p>{{ error }}</p>
            {% endfor %} -->
        </form>
    {% endif %}
    {% else %}
    {% endif %}

{% endblock %}