{% extends "base.html" %}
{% set active_page = 'index' %}
{% block content %}
    {% if doc_dict %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('index') }}">Документы</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/{{doc_dict['id']}}">{{ doc_dict['doc_name'] }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Редактировать метаданные</a>
        </li>
    </ul>

    <h2 class="mb-4" id="doc_name">{{ doc_dict['doc_name'] }}</h2>

    {% if form %}
    <!--<div class="row"></div>-->
        <form action="/{{ doc_dict['id'] }}" method="POST">
            {{ form.csrf_token }}
            <div class="input-group">
                {{ form.doc_name.label(class="pt-2 pb-2 pr-2") }}
                {{ form.doc_name(class="form-control") }}
            </div>
            <div class="input-group">
                {{ form.create_date.label(class="pt-2 pb-2 pr-2") }}
                <span>
                {{ form.create_date(class="form-control pl-2") }}
                </span>
            </div>
            <div class="input-group">
                {{ form.decision_date.label(class="pt-2 pb-2 pr-2") }}
                <span>
                {{ form.decision_date(class="form-control pl-2") }}
                </span>
            </div>

            <div class="input-group">
                {{ form.guberniya.label(class="pt-2 pb-2 pr-2") }}
                <span>
                    {{ form.guberniya(class="form-control") }}
                </span>
            </div>
            <div class="input-group">
                {{ form.uyezd.label(class="pt-2 pb-2 pr-2") }}
                <span>
                    {{ form.uyezd(class="form-control") }}
                </span>
            </div>
            <div class="input-group">
                {{ form.volost.label(class="pt-2 pb-2 pr-2") }}
                <span>
                    {{ form.volost(class="form-control") }}
                </span>
            </div>

            <div class="input-group">
                {{ form.plaintiff_res_place.label(class="pt-2 pb-2 pr-2") }}
                <span>
                    {{ form.plaintiff_res_place(class="form-control") }}
                </span>
            </div>
            <div class="input-group">
                {{ form.defendant_res_place.label(class="pt-2 pb-2 pr-2") }}
                <span>
                    {{ form.defendant_res_place(class="form-control") }}
                </span>
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-secondary mt-2") }}
            </div>

            {% for error in form.doc_name.errors %}
            <p>{{ error }}</p>
            {% endfor %}
            {{ new_name }}
        </form>
    {% endif %}
    {% else %}
    {% endif %}

{% endblock %}