{% extends "base.html" %}
{% block content %}

    <!-- <p><a href="{{ url_for('user.register') }}">{% trans %}Register{% endtrans %}</a></p> -->

    <p>Статус:
        {% if user_roles %}
            <!--{% for role in user_roles %}{{ role }}{% endfor %}-->
            {{ user_roles|join(', ') }}
        {% else %}
            нет
        {% endif %}
    </p>
    <form method="GET">
        <p><label for="doc_id">Id: </label>
        <input type="text" id="doc_id" name="doc_id"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
    {% if doc %}
        <table border="1" style="border-collapse:collapse">
            <tr>
                <th>ID</th>
                <th>Название документа</th>
                <th>Дата регистрации</th>
            </tr>
            <tr>
                <td>{{ doc.id }}</td>
                <td>{{ doc.doc_name }}</td>
                <td>{{ doc.reg_date }}</td>
            </tr>

        </table>
    {% elif warning %}
        <p>{{ warning }}</p>
    {% endif %}

{% endblock %}