{% extends "base.html" %}
{% set active_page = 'index' %}
{% block content %}

    <!-- <p><a href="{{ url_for('user.register') }}">{% trans %}Register{% endtrans %}</a></p> -->
    <!--{% if current_user.is_authenticated %}
        <p>Статус:
            {% if user_roles %}
                {{ user_roles|join(', ') }}
            {% else %}
                нет
            {% endif %}
        </p>
    {% endif %}-->
    <!--<form method="GET">
        <p><label for="doc_id">ID: </label>
        <input type="text" id="doc_id" name="doc_id"></p>
        <p><input type="submit" value="Искать"></p>
    </form>-->
    <!--<table border="1" style="border-collapse:collapse">
        <tr>
            <th>id дока</th>
            <th>тема</th>
        </tr>
        {% for doc in docs_themes %}
            <tr>
                <td>{{ doc['id'] }}</td>
                <td>{{ doc['themes']|join(', ') }}</td>
            </tr>
        {% endfor %}
    </table>-->

    <table border="1" style="border-collapse:collapse">
        <tr>
            <th>Название документа</th>
            {% for col in column_dict.values() %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for doc in docs_list %}
        <tr>
            <td><a href="/{{ doc['id'] }}">{{ doc['doc_name'] }}</a></td>
            {% for value in column_dict.keys() %}
            <td>{% if not doc[value] %}
                <b>—</b>
                {% elif doc[value] == True %}
                &#10004;
                {% else %}
                {{ doc[value] }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}