{% extends "base.html" %}
{% set active_page = 'index' %}
{% block content %}

    <!-- <p><a href="{{ url_for('user.register') }}">{% trans %}Register{% endtrans %}</a></p> -->
    <!--{% if current_user.is_authenticated %}
        <p>Статус:
            {% if user_roles %}
                {{ user_roles|join(', ') }}
            {% else %}
                нет
            {% endif %}
        </p>
    {% endif %}-->
    <!--<form method="GET">
        <p><label for="doc_id">ID: </label>
        <input type="text" id="doc_id" name="doc_id"></p>
        <p><input type="submit" value="Искать"></p>
    </form>-->
    <!--<table border="1" style="border-collapse:collapse">
        <tr>
            <th>id дока</th>
            <th>тема</th>
        </tr>
        {% for doc in docs_themes %}
            <tr>
                <td>{{ doc['id'] }}</td>
                <td>{{ doc['themes']|join(', ') }}</td>
            </tr>
        {% endfor %}
    </table>-->
    {% set short_dates = ["create_date", "decision_date", "appeal_date", "ap_decision_date", "decision_exec_date"] %}

    <div class="row">
        <div class="col-6">
            <div class="input-group mb-2">
                <input type="text" id="searchBar" class="form-control" placeholder="Введите название документа">
                <span class="input-group-btn">
                    <button class="btn btn-secondary ml-2" id="searchButton">Искать</button>
                </span>
            </div>
        </div>
    </div>

    <div class="table table-bordered table-responsive">
    <table class="table-hover py-1" id="docsTable"><!--id="docsTable" class="tablesorter">-->
        <thead class="bg-light">
            <tr>
                <th class="align-middle text-center">Название документа</th>
                {% for col in column_dict.values() %}
                <th class="align-middle text-center">{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for doc in docs_list %}
            <tr>
                <td class="align-middle"><a href="/{{ doc['id'] }}">{{ doc['doc_name'] }}</a></td>
                {% for value in column_dict.keys() %}
                <td class="align-middle text-center">{% if not doc[value] %}
                    <i>Не указано</i>
                    {% elif doc[value] == True %}
                        &#10004;
                    {% elif value in short_dates %}
                        {{ doc[value].strftime('%d.%m.%Y') }}
                    {% elif value == "reg_date" %}
                        {{ doc[value].strftime('%d.%m.%Y %H:%M:%S') }}
                    {% else %}
                        {{ doc[value] }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}