{% extends "base.html" %}

{% block content %}
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url_for('index') }}">Документы</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/{{ doc.id }}">{{ doc.doc_name }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Семанитическая разметка</a>
    </li>
  </ul>

  <h3 class="mb-3">Семантическая разметка</h3>
  <div class="row">
    <div class="col-9">
      <form action="" method="POST">
        {{ form.csrf_token() }}
        {{ form.text }}
        {{ form.sem_submit(class="btn btn-secondary mt-2") }}
        <a class="btn btn-primary mt-2 ml-2" href="/{{ doc.id }}">Отмена</a>
      </form>
    </div>
    <div class="col-3">
      <h5>Легенда</h5>
      {% for color, role in roles_trans %}
      <div class="d-flex my-2 small"><div class="rounded mr-3" style="background-color: {{ color }}; width: 70px; height: 30px;">&nbsp;</div>
        <span>{{ role }}</span></div>
      {% endfor %}
      <!--<span class="rounded" style="background-color: #FFC69C;">&nbsp;</span>
      <span class="rounded" style="background-color: #FFE79C;">&nbsp;</span>
      <span class="rounded" style="background-color: #B5D6A5;">&nbsp;</span>
      <span class="rounded" style="background-color: #A5C6CE;">&nbsp;</span>
      <span class="rounded" style="background-color: #9CC6EF">&nbsp;</span>
      <span class="rounded" style="background-color: #B5A5D6;">&nbsp;</span>
      <span class="rounded" style="background-color: #D6A5BD;">&nbsp;</span>-->
    </div>
  </div>

{% endblock %}